<div class="container-auto">
  <table class="table table-bordered">
    <h1 class="blue-text text-darken-2"> All Bikes</h1>
  </table>
  </div>

<h2 class="blue-text text-darken-2"> Available Bikes</h2>
<div class="container-auto">
  <table class="table table-bordered">
      <thead class="info">
      <th class="table-success">Name</th>
      <th class="table-success">Kms</th>
      <th class="table-success">Description</th>
      <th class="table-success">Action</th>
    </thead>
      <tr *ngFor ="let bike of bikes; let i=index">
      <ng-container *ngIf="bike.state">
        <td class="table-light">{{bike.name}}</td>
        <td class="table-light">{{bike.kms}}</td>
        <td class="table-light">{{bike.description}}</td>
        <td class="table-light">
        </td>
      </ng-container>
      </tr>
</table>

</div>
<h2 class="blue-text text-darken-2"> Not assigned Bikes</h2>
<div class="container-auto">

  <table class="table table-bordered">
      <thead class="info">
          <th class="table-success">Name</th>
          <th class="table-success">Kms</th>
          <th class="table-success">Description</th>
          <th class="table-success">Action</th>
    </thead>
    
      <tr *ngFor ="let bike of bikes2; let i=index">
        <ng-container *ngIf="!bike.state">
            <td class="table-light">{{bike.name}}</td>
            <td class="table-light">{{bike.kms}}</td>
            <td class="table-light">{{bike.description}}</td>
            <td class="table-light"></td>
      </ng-container> 
      </tr>
</table>
</div>

<p>
<button class="logout" [routerLink]="['']"><i class="fa fa-toggle-left" aria-hidden="true">
</i> Back to main menu</button></p>