
<div class="container-auto">
    <div class="container-auto">
        <ion-item>
            <ion-label>This are the stations available</ion-label>
          </ion-item>
        </div>
    <ion-list>
    <tr *ngFor="let station of stations">
    <ion-slides>
        <ion-item> <ion-label>Station</ion-label> </ion-item>
        <ion-item> <ion-label>State</ion-label> </ion-item>
        <ion-item> <ion-label>Description</ion-label> </ion-item>
    
    </ion-slides>
    <ion-slides>
        <ion-item> <ion-label>{{station.station}}</ion-label> </ion-item>
        <ion-item> <ion-label>{{station.state}}</ion-label> </ion-item>
        <ion-item> <ion-label>{{station.description}}</ion-label> </ion-item>
        <ion-button color="success" size="large" [routerLink]=
        "['stationBikes',station._id]">View</ion-button>
    </ion-slides>
  </tr>
    </ion-list>
</div>