<div class="card">
<div class="item item-body">
<img class="card-img" img id="background"
src="https://i.ytimg.com/vi/8sbOqm_a7qQ/maxresdefault.jpg" class=" img-responsive ">
</div>
<div class="card bg-dark text-black">
  <div class="card-img-overlay">
    <ion-button color="success" size="large" [routerLink]="['stationslist']">List all the stations</ion-button>
    <!--<ion-button color="primary" size="large" [routerLink]="['bikesList']">List all the bikes</ion-button>-->
  </div>
</div>
</div>